.tweetpost-box {
  display: flex;
  width: 500px;
}

.upper-container {
  display: flex;
  justify-content: start;
}

.leftcontainer-w-profilepic {
  display: flex;
  justify-content: start;
  align-content: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 10px;
}

.right {
      padding: 20px 15px;
      border: solid 1px  rgb(196, 196, 197);
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .left {
      padding: 20px 40px;
      border: solid 1px  rgb(196, 196, 197);;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: rgb(196, 196, 197);
    }

    a {
      text-decoration: none;
    }

    .webname {
        color: grey;
        opacity: 80%;
        margin-bottom: 6px;
    }

    .linked-videoname {
      color: black;
    }


.upper-right-container {
            flex: 1;
            display: flex;
            flex-direction: column;
          }

          .Name {
            margin-right: 10px;
            font-size: 16px;
            font-weight: bold;
            vertical-align: middle;
            word-spacing: -2px;
          }

          .Username {
            font-size: 16px;
            opacity: 70%;
            vertical-align: middle;
          }

          .the-context-header-container, .actual-context-header-container {
            display: flex;
          }

          .the-context-header-container {
            margin-bottom: 5px;
            margin-top: 8px;
          }

          .the-blockquote-container, .actual-blockquote-container {
            display: flex;
            margin: 0;
          }

          blockquote {
            margin: 0px 0px 20px 0px;
          }