.header-the-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba (20, 28, 38, .2);
  backdrop-filter: blur(10px);
  border-bottom: rgb(191, 191, 189) 1px solid;
}

.left-section-header-with-searchbar {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.the-aboutus-container, .actual-aboutus-container {
  display: flex;
}

.click-to-see-aboutus {
  color: white;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

.aboutus-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: end;
}

.aboutus-text {
  font-size: 14px;
  margin-right: 10px;
  transition: color ease-out .3s;
}

.aboutus-text:hover {
  color: rgb(191, 191, 189);
}

.the-privacypolicy-container, .actual-privacypolocy-container {
  display: flex;
}

.click-to-see-privacypolicy {
  color: white;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.privacypolicy-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: end;
}

.privacypolicy-text {
  font-size: 14px;
  margin-right: 25px;
  transition: color ease-out .3s;
}

.privacypolicy-text:hover {
  color: rgb(191, 191, 189);
}

.middle-section-header-with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.right-section-header-with-login-button {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.the-schools-and-programs-container, .actual-schools-and-programs-container {
  display: flex;
}

.the-schools-and-programs-container {
  align-items: center;
}

.click-to-see-schools-and-programs {
  color: white;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

.schools-and-programs-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: end;
}

.schools-and-programs-text {
  font-size: 14px;
  margin-left: 10px;
  transition: color ease-out .3s;
}

.schools-and-programs-text:hover {
  color: rgb(191, 191, 189);
}

.the-verfication-container, .actual-verfication-container {
  display: flex;
}

.the-verfication-container {
  align-items: center;
}

.click-to-see-verfication {
  color: white;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  margin-right: 100px;
}

.verfication-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: end;
}

.verfication-text {
  font-size: 14px;
  margin-left: 25px;
  transition: color ease-out .3s;
}

.verfication-text:hover {
  color: rgb(191, 191, 189);
}

.nav-login-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
  margin-right: 50px;
}

.the-nav-login-button-container, .actual-nav-login-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-click-to-login-page {
  padding: 9px 18px;
  background-color: #b7c0ce;
  background: linear-gradient(to left, #b7c0ce 50%, transparent 50%) right;
  background-size: 200% 100%;
  border: 1px transparent solid;
  border-radius: 45px;
  color: #141C26;
  text-decoration: none;
  background-clip: padding-box;
  overflow: hidden;
  transition: background-position ease-out .5s, border ease-out .3s, color ease-out .3s;
  cursor: pointer;
  margin-left: 120px;
}

.nav-click-to-login-page:hover {
  background-position: left;
  border: 1px rgb(191, 191, 189) solid;
  color: white;
}

.nav-login-icon-and-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

.nav-login-text {
  font-size: 13px;
}

.nav-login-icon {
  display: flex;
  align-items: center;
}