body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
}

.login-page-container-x-3 {
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 16px;
  box-shadow: 0 4px 30px 4px rgba(255, 255, 255, .4), inset 0 4px 14px 4px rgba(255, 255, 255, .4);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 30px 60px 20px 60px;
}

.lower-formfill-x-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 16px;
  background-color: tansparent;
}

.pathinder-logo-w-text-x-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.pathinder-logo-w-text-x-3 img {
  width: 264.5px;
  height: 96.6px;
  margin-bottom: 30px;
}

.inputs-x-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.lower-formfill-x-3 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower-formfill-x-3 input {
  width: 380px;
  outline: none;
  padding: 8px 0 8px 20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 6px;
}

.lower-formfill-x-3 select {
  width: 400px;
  outline: none;
  padding: 8px 0 8px 16px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border: 1px transparent solid;
  border-radius: 6px;
  margin-bottom: 20px;
}

.login-click-button-x-3 {
  width: 400px;
  padding: 12px 80px 12px 80px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: 1px transparent solid;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.forgot-id-x-3 {
  margin-top: 5px;
}

.forgot-id-x-3 a {
  text-decoration: none;
  color: white;
}

.forgot-id-x-3 a:hover {
  text-decoration: underline;
  font-weight: 500;
}

.soical-media-accounts-x-3 a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  border: 1px white solid;
  border-radius: 14px;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 30px 10px 0 0;
}


.login-to-portal-text-x-3 {
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 600;
}


.footer-credit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0 12px 0;
  text-align: center;
  background-color: transparent;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

}

.footer-credit spam {
  font-size: 13px;
}

@media (max-width: 800px) {
  .login-page-container-x-3 {
    padding: 20px 40px 15px 40px;
  }

  .pathinder-logo-w-text-x-3 {
    margin-bottom: 30px;
  }
  
  .login-to-portal-text-x-3 {
    font-size: 22px;
  }

  .pathinder-logo-w-text-x-3 img {
  width: 230px;
  height: 84px;
  margin-bottom: 20px;
  }

.inputs-x-3 {
  margin-bottom: 60px;
}

.lower-formfill-x-3 input {
  width: 340px;
}

.lower-formfill-x-3 select {
  width: 360px;
  outline: none;
  margin-bottom: 16px;
}

.login-click-button-x-3 {
  width: 360px;
  margin-bottom: 16px;
}
.forgot-id-x-3 {
  margin-top: 4px;
}

.soical-media-accounts-x-3 a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  border: 1px white solid;
  border-radius: 14px;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 25px 8px 0 0;
}

}
